<ng-template #messageTemplate let-message>
  <div class="message" [class]="'message message--' + message.type">
    <fa-icon
      class="message__icon"
      [icon]="faMessage"
      aria-hidden="true"
    ></fa-icon>
    <div class="message__content">
      <strong class="message__title">
        {{ message.type }}
      </strong>

      <p class="message__text">
        {{ message.text }}
      </p>
    </div>

    <button
      class="message__close"
      type="button"
      (click)="closeMessage(message.id)"
    >
      ×
    </button>
  </div>
</ng-template>

<div class="messages">
  @for (message of messages$ | async; track message.id) {
    <ng-container
      [ngTemplateOutlet]="messageTemplate"
      [ngTemplateOutletContext]="{ $implicit: message }"
    ></ng-container>
  }
</div>
